html, body {
	background-color: #eee;
}

body {
	padding: 40px 1em 1em 1em;
}

.container-fluid {
	background-color: #fff;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	box-shadow: 2px 2px 5px #999;
}

.content {
	min-height: 40em;
}

footer p {
	text-align: center;
}
