/pom.xml
*jar
/lib
/classes
/native
/.lein-failures
/checkouts
/.lein-deps-sum
*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.loa
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdy
.DS_Store
*.pgf
*.pyc
*.bcf
*.run.xml
story.md
*.swp
.lein-repl-history
*.pickle
target
venv
*.bak
*.json
*.fls
*.mw
*.sbl
*.sym
.texpadtmp
