####################################################
## Molly configuration file                       ##
####################################################
## Remember that molly.conf.* also contains       ##
## configuration information!  This file serves   ##
## As a way to store settings that can be         ##
## represented in plain text.                     ##
####################################################

# Path to the data source (eg. Sqlite database)
db.path = data/mycampus.sq3

# Path to the index
idx.path = mycampus.idx

# Limits
idx.topk.value = {{ topk_value }}       # 50
idx.topk.entities = {{ topk_entities }} # 10
idx.topk.entity = {{ topk_entity }}     # 5
